<<<<<<< HEAD
extends layout

block content
  h1 #{groep.name}
  if groep.longname
    h4 #{groep.longname}
  p #{groep.description}
=======
extends layout

block content
  h1 #{groep.name}
  if groep.longname
    h4 #{groep.longname}
  p #{groep.description}
>>>>>>> bb8cbcef444865837e57b17b76298b5ed1f020e7
  img(src="/images/"+groep.name+".gif")   